:root {
  /* gruvbox dark */
  --fg: #ebdbb2;
  --fg0: #fbf1c7;
  --fg1: #ebdbb2;
  --fg2: #d5c4a1;
  --fg3: #bdae93;
  --fg4: #a89984;
  --bg: #282828;
  --bg0: #282828;
  --bg1: #3c3836;
  --bg2: #504945;
  --bg3: #665c54;
  --bg4: #7c6f64;

  --black: #282828;
  --red: #cc241d;
  --green: #98971a;
  --yellow: #d79921;
  --blue: #458588;
  --purple: #b16286;
  --cyan: #689d6a;
  --white: #a89984;
  --black-accent: #928374;
  --red-accent: #fb4934;
  --green-accent: #b8bb26;
  --yellow-accent: #fabd2f;
  --blue-accent: #83a598;
  --purple-accent: #d3869b;
  --cyan-accent: #8ec07c;
  --white-accent: #ebdbb2;

  --piano-black: #202020;
  --piano-white: #DFDFDF;
}

body {
  color: var(--fg);
  background-color: var(--bg);
  font-family: monospace;
  font-size: 1.25rem;
  margin: 0;
  padding: 0;
}

h1 {
  font-size: 4rem;
  color: var(--yellow-accent);
  font-family: monospace;
}

.home-menu-button {
  color: var(--fg2);
  background-color: var(--bg);
  font-family: monospace;
  font-size: 1.25rem;
  background: none;
  border: none;
  margin: 1em auto;
  display: block;
  cursor: pointer;
  text-decoration: none;
}

.home-menu-button:hover {
  color: var(--fg0);
}

.top-bar {
  background-color: var(--bg1);
}

.top-button {
  font-family: monospace;
  font-size: 1.25rem;
  line-height: 0px;
  height: 40px;
  width: 40px;
  margin: 6px 0px 6px 6px;
  color: var(--fg2);
  background-color: var(--bg2);
  border-style: none;
  border-radius: 6px;
  vertical-align: top;
}

.top-button:hover {
  background-color: var(--bg3);
  cursor: pointer;
}

.settings {
  font-size: 1.25rem;
  font-family: monospace;
  height: 40px;
  margin: 6px 0px 6px 6px;
  color: var(--fg2);
  background-color: var(--bg);
  border-style: none;
  border-radius: 6px;
  width: fit-content;
  display: inline-block;
  line-height: 40px;
  padding: 0px 8px 0px 12px;
  vertical-align: top;
}

.settings-input {
  font-size: 1.25rem;
  font-family: monospace;
  color: var(--fg2);
  background:none;
  text-align: center;
  border-style: none;
  border-radius: 4px;
}

.settings-input:hover {
  background-color: var(--bg1);
}

.settings-input:focus {
  background: none;
}